In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [14]:
#Load the dataset

data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [15]:
## Data Preprocessing
## Drop unnecessary columns

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [18]:
## Encode categorical variables

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [21]:
# One-hot encode 'Geography' column
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_geography = OneHotEncoder()
geography_encoder = one_hot_encoder_geography.fit_transform(data[['Geography']])
geography_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [23]:
geography_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [22]:
one_hot_encoder_geography.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [25]:
geography_encoded_df = pd.DataFrame(geography_encoder.toarray(), columns=one_hot_encoder_geography.get_feature_names_out(['Geography']))
geography_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [26]:
## Combine the encoded geography columns with the original dataset and drop the original 'Geography' column
data = pd.concat([data.drop('Geography', axis=1), geography_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [27]:
## Save the encoders and scalers

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('one_hot_encoder_geography.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geography, file)

In [28]:
## Divide the dataset into independent and dependent features

X = data.drop('Exited', axis=1)
y = data['Exited']

## Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [29]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [30]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [31]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

ANN Implementation

In [32]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [33]:
## Building the ANN Model
model = Sequential(
    [
        Dense(units=64, activation='relu', input_shape=(X_train.shape[1],)), ## Hidden Layer 1 - Connected to Input Layer
        Dense(units=32, activation='relu'), ## Hidden Layer 2
        Dense(units=1, activation='sigmoid')    ## Output Layer
    ]
)

WARNING:tensorflow:From e:\GEN_AI\Churn_Modelling-ANN_Classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [34]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:
import tensorflow as tf
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()

In [38]:
## Compile the model
model.compile(optimizer=opt, loss="binary_crossentropy", metrics=['accuracy'])

In [40]:
## Set up TensorBoard logging
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [44]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [45]:
## Train the model
history = model.fit(
    X_train,
    y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorflow_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8609 - val_loss: 0.3511 - val_accuracy: 0.8585
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8608 - val_loss: 0.3404 - val_accuracy: 0.8580
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8610 - val_loss: 0.3488 - val_accuracy: 0.8565
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8621 - val_loss: 0.3447 - val_accuracy: 0.8595
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8646 - val_loss: 0.3441 - val_accuracy: 0.8640
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8662 - val_loss: 0.3364 - val_accuracy: 0.8595
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3283 - accuracy: 0.8659 - val_loss: 0.3517 - val_accuracy: 0.8520
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3284 - accuracy: 0.8649 - val_loss: 0.3400 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3252 - accuracy: 0.8660 - val_loss: 0.3350 - val_accuracy: 0.8605
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8656 - val_loss: 0.3424 - val_accuracy: 0.8585
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3214 - accuracy: 0.8668 - val_loss: 0.3422 - val_accuracy: 0.8580
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3180 - accuracy: 0.8702 - val_loss: 0.3500 - val_accuracy: 0.8600
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3171 - accuracy: 0.8698 - val_loss: 0.3519 - val_accuracy: 0.8535
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3166 - accuracy: 0.8714 - val_loss: 0.3478 - val_accuracy: 0.8530
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3140 - accuracy: 0.8694 - val_loss: 0.3532 - val_accuracy: 0.8565
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3116 - accuracy: 0.8723 - val_loss: 0.3542 - val_accuracy: 0.8510
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3103 - accuracy: 0.8729 - val_loss: 0.3509 - val_accuracy: 0.8565
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3064 - accuracy: 0.8740 - val_loss: 0.3698 - val_accuracy: 0.8520
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3032 - accuracy: 0.8739 - val_loss: 0.3561 - val_accuracy: 0.8555

In [46]:
## Save the trained model

model.save('model.h5')

e:\GEN_AI\Churn_Modelling-ANN_Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [47]:
## Load Tensorboard Extension
%load_ext tensorboard

In [49]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 11116), started 0:01:13 ago. (Use '!kill 11116' to kill it.)